* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    overflow-x: hidden; /* Hilangkan scroll horizontal */
}

.navbar {
    width: 100%;
    background: #648db5;
    padding: 15px 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar .right{
        display:flex;
        align-items:center;
        gap:15px;
    }

.container {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap; /* Membuat responsif */
    justify-content: center;
    gap: 25px;
}

.card {
    width: 260px;
    background: #74a2d6;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 80px;
    height: auto;
    margin-bottom: 12px;
}

.akses-btn {
    margin-top: 12px;
    background: #0056e2;
    color: white;
    padding: 10px 22px;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin-top: 50px;
    background: #b07b7a;
    padding: 20px;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}

/* RESPONSIVE BREAKPOINTS */

/* Tablet */
@media (max-width: 900px) {
    .card {
        width: 45%; /* 2 kolom */
    }
}

/* HP Landscape / Tablet kecil */
@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .card {
        width: 80%; /* jadi 1 kolom besar */
    }
}

/* HP Portrait */
@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}
